<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Clubs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
          width: 100%;
          height: 100%;
        }
    </style>
</head>
<body>
<!--    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/allclubs/">HOME</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/allclubs/">All Clubs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'activity:activity' %}">Club Activities</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" >
            {% if request.session.user_name %}
                <li>
                    <img src="{{ user.head_image.url }}"></img>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">{{ request.session.user_name }}!  欢迎回来！</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'signinaout:idconfirm' %}">校园身份验证</a>
                        <a class="dropdown-item" href="{% url 'signinaout:changes' %}">修改个人信息</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signinaout:logout' %}">退出</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signinaout:login' %}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signinaout:register' %}">注册</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="container-fluid" style="margin-top:80px">

        <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg">
        </div>
        <div class="carousel-item">
            <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg">
        </div>
        <div class="carousel-item">
            <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg">
        </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

        </div>
<div class="card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>Welcome to this web!</h2>
                </div>
            </div>
        </div>
            <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <h4 class="card-title">体育运动类</h4>
                    <p class="card-text">
                        体育运动类共有社团 {{ sports_num }} 个
                    </p>
                    <div class="row">
                    {% for sport in sports %}
                        <div class="col-sm-2">
                            <div class="card" style="width:250px">
                                <img  class="card-img-top" src="{{ sport.clubimage.url }}" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">{{ sport.clubname }}</h4>
                                    <a href="{{ sport.clubinfo.url }}" class="btn btn-primary">{{ sport.clubname }}详细介绍</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            </div>
            <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <h4 class="card-title">文学艺术类</h4>
                    <p class="card-text">
                        文学艺术类共有社团 {{ literaries_num }} 个
                    </p>
                    <div class="row">
                        {% for literary in literaries %}
                            <div class="col-sm-2">
                                <div class="card" style="width:250px">
                                    <img  class="card-img-top" src="{{ literary.clubimage.url }}" alt="Card image" style="width:50%">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ literary.clubname }}</h4>
                                        <a href="{{ literary.clubinfo.url }}" class="btn btn-primary">{{ literary.clubname }}详细介绍</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
            <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <h4 class="card-title">科技创新类</h4>
                    <p class="card-text">
                        科技创新类共有社团 {{ technologys_num }} 个
                    </p>
                    <div class="row">
                    {% for technology in technologys %}
                        <div class="col-sm-2">
                            <div class="card" style="width:250px">
                                <img  class="card-img-top" src="{{ technology.clubimage.url }}" alt="Card image" style="width:50%">
                                <div class="card-body">
                                    <h4 class="card-title">{{ technology.clubname }}</h4>
                                    <a href="{{ technology.clubinfo.url }}" class="btn btn-primary">{{ technology.clubname }}详细介绍</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            </div>
</div>
        </div>
    </div>

</body>
</html>