@charset "utf-8";
 
*{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

html{
	width: 100%;
	height: 100%;
	overflow-x:hidden; 
	overflow-y:auto;
}
body{
	width: 100%;
	min-height: 100%;
}
.mainGame{
	background:url(../imgs/dose-juice-sTPy-oeA3h0-unsplash.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.Top-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.Time {
    height: 40px;
    width: 150px;
    margin: 10px;
    border: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ffd24d 0%,#ffd24d 50%,#ffe699 51%,#ffe699 100%);
}
.Weeks-Num,.Week {
    margin: 20px;
}
.Weeks-Content,.Week-Content {
    font-size: initial;
}
.Deposit {
    height: 40px;
    width: 200px;
    margin: 10px;
    border: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ffd24d 0%,#ffd24d 50%,#ffe699 51%,#ffe699 100%);
}
.LeftDesposit-Num {
    font-size: initial;
}
.Chefs {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #ffd24d;
}
.ChefWrap {
    position: relative;
    /* pointer-events:none; */
}
.Chef {
    height: 90px;
    width: 90px;
    margin: 25px;
    border: 5px solid;
    border-color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #ddd 0%,#ddd 50%,#aaaaaa 51%,#aaaaaa 100%);
}
.Chef img {
    width : 100%;
    height: 100%;
}
.Chef:before {
    content: "";
    position: absolute;
    background: #cc9979;
    top: 25%;
    left: 95px;
    transform: rotate(45deg);
    width: 40px;
    height: 8px;
    pointer-events:auto;
    z-index: 10;
}

.hidden-beforeAndAfter:before {
    height: 90px;
    width: 90px;
    margin: 25px;
    border: 5px solid;
    border-color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #ddd 0%,#ddd 50%,#aaaaaa 51%,#aaaaaa 100%);
    content: "";
    position: absolute;
    background: #cc9979;
    top: 25%;
    left: 95px;
    transform: rotate(45deg);
    width: 40px;
    height: 8px;
    pointer-events:auto;
    z-index: 10;
    display: none;
}
.Chef:after {
    content: "";
    position: absolute;
    background: #cc9979;
    top: 15%;
    left: 110px;
    transform: rotate(45deg);
    width: 8px;
    height: 40px;
    pointer-events:auto;
    z-index: 10;
}
.hidden-beforeAndAfter:after {
    height: 90px;
    width: 90px;
    margin: 25px;
    border: 5px solid;
    border-color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #ddd 0%,#ddd 50%,#aaaaaa 51%,#aaaaaa 100%);
    content: "";
    position: absolute;
    background: #cc9979;
    top: 15%;
    left: 110px;
    transform: rotate(45deg);
    width: 8px;
    height: 40px;
    pointer-events:auto;
    z-index: 10;
    display: none;
}
.AddChef {
    height: 90px;
    width: 90px;
    margin: 10px;
    border: 5px solid;
    border-color: #fff;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AddChef img {
    width : 100%;
    height: 100%;
}

.Chefs {
    position: relative;
}
.AddChef:before,.AddChef:after {
    content: "";
    position: absolute;
    background: #cc9979;
    top: 50%;
    left: 180px;
    transform: translate(-50%,-50%);
}
.AddChef:before {
    width: 20px;
    height: 5px;
}
.AddChef:after {
    width: 5px;
    height: 20px;
}

.Customers {
    position: absolute;
    bottom: 10%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #ffa64d;
}

.CustomerWrap {
    position: relative;
}

.Customer {
    height: 90px;
    width: 90px;
    margin: 10px 25px 10px 25px;
    border: 5px solid;
    border-color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #ddd 0%,#ddd 50%,#aaaaaa 51%,#aaaaaa 100%);
}
.Customer img {
    width : 100%;
    height: 100%;
    border-radius: 25px;
}

.Alarm-Initial {
    top: 40%;
    left: 0%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #ffd24d;
    position: absolute;
    z-index: 3;
}
.Alarm-Title {
    font-family: initial;
    font-size: xx-large;
}

.Alarm-Context {
    margin: 20px;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;

}

.Alarm-ToDoList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.Alarm-ToDo {
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;
}

.Alarm-Confirm-Button {
    height: 40px;
    width: 150px;
    margin: 10px;
    border: 5px;
    font-size: 19px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ffd24d 0%,#ffd24d 50%,#ffe699 51%,#ffe699 100%);
}
.Cover{
    background: #000;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    filter: alpha(opacity=30);
    opacity: 0.3;
    z-index: 2;
}
.newCustomers {
    position: absolute;
    width: 150px;
    right: 8%;
    bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.newCustomerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -40px 0 -40px;
}

.newCustomer {
    height: 70px;
    width: 70px;
    margin: 25px 25px 5px 25px;;
    border: 5px solid;
    border-color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #ddd 0%,#ddd 50%,#aaaaaa 51%,#aaaaaa 100%);
}
.newCustomer img {
    width : 100%;
    height: 100%;
}


.progress-box {
    width: 100px;
    background-color: #2693ff;
    border: 2px solid;
    border-color: #fff;
    border-radius: 25px;
  }
  
.progress-text {
    width: 0%;
    height: 30px;
    background-color: #006dd9;
    text-align: center;
    line-height: 30px;
    color: white;
    border: 2px 0px 2px 0 solid;
    border-color: #fff;
    border-radius: 25px;
  }
  
.HaveFreeSetAndNewCustomers {
    top: 40%;
    left: 0%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #ffb399;
    position: absolute;
    z-index: 3;

}
.Have-text {
    margin: 20px;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6700;
}

.CustomerImg-for-Menu {
    position: absolute;
    width: 150px;
    left: 5%;
    top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CustomerImg {
    height: 70px;
    width: 70px;
    margin: 25px 25px 5px 25px;;
    border: 5px solid;
    border-color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #ddd 0%,#ddd 50%,#aaaaaa 51%,#aaaaaa 100%);
}
.CustomerImg img {
    width : 100%;
    height: 100%;
}

.Menu {
    margin: 10px;
    width: -webkit-fill-available;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; */
    top: 250px;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #ffd24d;
    position: absolute;
    z-index: 3;
}
.Menu-title {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    align-items: center;
}
.Menu-Content {
    border: 5px solid;
    border-color: #ca9800;
    margin: 15px;
    background-color: #fff;
}
.ColdDish, .HotDish, .Drink {
    display: flex;
    flex-direction: column;
}
.ColdDish-info, .HotDish-info, .Drink-info {
    display: flex;
    flex-direction: column;
}
.ColdDish-title, .HotDish-title, .Drink-title {
    margin: 5px 0px 5px 20px;
    font-size: large;
}
.ColdDish-checkbox, .HotDish-checkbox, .Drink-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 20px 5px 20px;
    color: #8c6600;
}
.checkbox-box, .colddishcheckbox-box, .hotdishcheckbox-box, .drinkcheckbox-box {
    width: 20px;
    height: 20px;
}
.checkbox-text {
    font-size: large;
}
.checkbox-shengluehao {
    font-size: large;
}
.checkbox-fee {
    font-size: large;
}
.ConfirmMenuButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Finish {
    height: 40px;
    width: auto;
    margin: 5px 30px 5px 30px;
    border: 5px;
    padding: 0 20px 0 20px;
    font-size: 19px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ded3ba 0%,#ded3ba 50%,#d3c6a5 51%,#d3c6a5 100%);
}

.LeaveThere {
    height: 40px;
    width: auto;
    margin: 5px 30px 5px 30px;
    border: 5px;
    padding: 0 20px 0 20px;
    font-size: 19px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ffd24d 0%,#ffd24d 50%,#ffe699 51%,#ffe699 100%);

}

.curCustomerWrap {
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 200px;
    height: 70px;
    width: 70px;
    margin: 25px 25px 5px 25px;;
    border: 5px solid;
    border-color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #ddd 0%,#ddd 50%,#aaaaaa 51%,#aaaaaa 100%);
}
.curCustomerWrap img {
    width: 100%;
    height: 100%;
}

.FinishedAndWaitingAlarm {
    top: 40%;
    left: 0%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #d9e67d;
    position: absolute;
    z-index: 3;
    width: -webkit-fill-available;
}

.FinishedAlarm-context1 {
    margin: 20px;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6700;
}
.FinishedAlarm-context2 {
    margin: 20px;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6700;
}
.MustHaveOneChefAlarm {
    top: 40%;
    left: 0%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #d9e67d;
    position: absolute;
    z-index: 3;
    width: -webkit-fill-available;
}
.MustHaveOneChefAlarm-context {
    margin: 20px;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6700;
}


.AddChefAlarm-Initial {
    top: 40%;
    left: 0%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #ffd24d;
    position: absolute;
    z-index: 3;
}
.AddChefAlarm-Title {
    font-family: initial;
    font-size: xx-large;
}

.AddChefAlarm-Context {
    margin: 20px;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;

}

.AddChefAlarm-Confirm-Button {
    height: 40px;
    width: 150px;
    margin: 10px;
    border: 5px;
    font-size: 19px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ffd24d 0%,#ffd24d 50%,#ffe699 51%,#ffe699 100%);
}
.AddChefAlarm-Nope-Button {
    height: 40px;
    width: 150px;
    margin: 10px;
    border: 5px;
    font-size: 19px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ffd24d 0%,#ffd24d 50%,#ffe699 51%,#ffe699 100%);
}


.RemoveChefAlarm-Initial {
    top: 40%;
    left: 0%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #ffd24d;
    position: absolute;
    z-index: 3;
}
.RemoveChefAlarm-Title {
    font-family: initial;
    font-size: xx-large;
}

.RemoveChefAlarm-Context {
    margin: 20px;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;

}

.RemoveChefAlarm-Confirm-Button {
    height: 40px;
    width: 150px;
    margin: 10px;
    border: 5px;
    font-size: 19px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ffd24d 0%,#ffd24d 50%,#ffe699 51%,#ffe699 100%);
}
.RemoveChefAlarm-Nope-Button {
    height: 40px;
    width: 150px;
    margin: 10px;
    border: 5px;
    font-size: 19px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    border-style:solid;
    border-color: #8c6900;
    background: linear-gradient(to top, #ffd24d 0%,#ffd24d 50%,#ffe699 51%,#ffe699 100%);
}

.CantRemoveChefAlarm {
    top: 40%;
    left: 0%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid;
    border-color: #fff;
    border-radius: 25px;
    background-color: #d9e67d;
    position: absolute;
    z-index: 3;
    width: -webkit-fill-available;
}
.CantRemoveChefAlarm-context {
    margin: 20px;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    color: #8c6700;
}