<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<div>
    <h2>
        Page of change password
    </h2>
    <form action="/info/change_password/" method="post" enctype="multipart/form-data">
        {% if change_password_form.captcha.errors %}
            <div>{{ change_password_form.captcha.errors }}</div>
        {% elif message %}
            <div>{{ message }}</div>
        {% endif %}
        {% csrf_token %}
        <h3 class="text-center">输入邮箱、原密码与新密码并点击确认以修改密码</h3>
            <div>
                {{ change_password_form.email.label_tag }}
                {{ change_password_form.email }}
            </div>
            <div>
                {{ change_password_form.new_password.label_tag }}
                {{ change_password_form.new_password }}
            </div>
<!--            <div>-->
<!--                {{ change_password_form.old_password.label_tag }}-->
<!--                {{ change_password_form.old_password }}-->
<!--            </div>-->
            <div class="form-group">
                {{ change_password_form.captcha.label_tag }}
                {{ change_password_form.captcha }}
            </div>
            <div>
                <a href="/info/login/"><ins>直接登录</ins></a>
                <a href="/info/register/"><ins>注册新账号</ins></a>
                <button type="submit">确认修改</button>
            </div>
    </form>
    <p>
        <a href="{% url 'allclub:index' %}">
            返回
        </a>
    </p>

</div>
</body>
</html>