<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>
        Page of changes
    </p>
    <div>
        <form action="/info/changes/" method="post">
            {% csrf_token %}
            <h3 class="text-center">修改个人信息</h3>
            <div>
                {{ change_form.email.label_tag }}
                {{ change_form.email }}
            </div>
            <div>
                {{ change_form.sex.label_tag }}
                {{ change_form.sex }}
            </div>
            <div>
                <button type="submit">确认修改</button>
            </div>
        </form>
    </div>
    <p>
        <a href="{% url 'allclub:index' %}">
            返回
        </a>
    </p>
</div>
</body>
</html>