<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club Activities</title>
</head>
<body>
<div>
    <div>
<!--        <h1>{{ activities.title }}</h1>-->
<!--        <br>-->
<!--        <h4>{{ activities.publisher }}</h4>-->
<!--        <h4>{{ activities.publish_time }}</h4>-->
<!--        <h4>{{ activities.change_time }}</h4>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p>-->
<!--            {{ activities.context }}-->
<!--        </p>-->
<!--    </div>-->
        {% for activity in activities %}
            <a href="{% url 'activity:detail' activity.title %}">{{activity.title}}</a>
            <p>{{activity.publisher}}</p>
        {% endfor %}
    </div>
</div>
</body>
</html>